@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  box-sizing: border-box;
}
.fc-toolbar-title {
  display: inline-block;
}

.fc-dayGridMonth-view tr {
  height: calc(100% / 6);
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

input{
    outline: none;
}